<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            PhotoDemon is 100% open-source.<br />
			It is available under a <a href="license/#photodemon-license">BSD license</a>.<br />
			<a href="https://github.com/tannerhelland/PhotoDemon">Download its source code at GitHub</a>.
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>Become a contributor by <a href="donate/">supporting us on Patreon,</a> or <a href="donate/">making a one-time donation via PayPal.</a>  Thank you!</p>
      </div>
    </div>

  </div>

</footer>
